@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format('woff2');
  font-display: swap;
}

$rich-black-fogra-29: hsla(197, 100%, 5%, 1);
$blue-sapphire: hsla(190, 100%, 23%, 1);
$viridian-green: hsla(181, 88%, 31%, 1);
$middle-blue-green: hsla(160, 41%, 70%, 1);
$medium-champagne: hsla(45, 60%, 78%, 1);
$gamboge: hsla(39, 100%, 47%, 1);
$alloy-orange: hsla(30, 98%, 40%, 1);
$rust: hsla(19, 97%, 37%, 1);
$rufous: hsla(5, 81%, 38%, 1);
$ruby-red: hsla(358, 64%, 37%, 1);
$border-radius: 15px;
$border-radius-icon: 100%;

//  ╭──────────────────────────────────────────────────────────╮
//  │ Mixins                                                   │
//  ╰──────────────────────────────────────────────────────────╯
@mixin flex($dir: column, $jc: unset, $ac: unset) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
  align-items: $ac;
}

@mixin animate($animation,$duration,$method,$times){
    animation: $animation $duration $method $times;
}

@mixin keyframes($name){
  @keyframes #{$name}{
    @content;
  }
}


//  ╭──────────────────────────────────────────────────────────╮
//  │ Base                                                     │
//  ╰──────────────────────────────────────────────────────────╯

body{
  font-family: "Montserrat", sans-serif;
}


.title{
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

//  ╭──────────────────────────────────────────────────────────╮
//  │ Components                                               │
//  ╰──────────────────────────────────────────────────────────╯

.commentbox-wrapper{
  @media screen and (min-width: 980px) {
    width: 40%;
  }
  @include flex(column, jc, ac);
  border-radius: $border-radius;
  width: 85%;
  margin: 0 auto;
  .commentbox{
    background: linear-gradient(129.88deg,  #353A44 1.92%, #2E3440 103.45%);;
    border-radius: $border-radius;
    margin: .5rem;
    padding:.5rem;
  }

  .comment-input{
    margin: 1rem  0;
  }
}

.profile-icon{
  border-radius: $border-radius-icon;
  object-fit: cover;
  border: 2px solid $viridian-green;
  Image{
    border-radius: $border-radius-icon;
  }
}

.spinner {
  animation: spinner 1s linear infinite;
  width: 1rem;
}

@keyframes spinner {
  0%{transform: rotate(0deg)}
  100%{transform: rotate(359deg)}
}

//  ╭──────────────────────────────────────────────────────────╮
//  │ Question card                                            │
//  ╰──────────────────────────────────────────────────────────╯
.card-wrapper{
  @include flex(column, center, center);
  margin-bottom: 5rem;
  flex-flow: row wrap;
  max-width: 100%;
  @media screen and (min-width: 980px){
    margin-left: 4rem;
  }
}

.question-card{
  flex: 1 1 0;
  width:min-content;
  border-radius: $border-radius;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: .5rem 1rem;
  margin: 1rem;

  &-head{
    @include flex(row, space-between, center);
    margin: 1rem 0;
  }

  &-title{
    font-family: "Poppins", sans-serif;
    margin: 0;
  }

  &-desc{
    @extend .question-card-title;
    font-family: "Montserrat", sans-serif;
    margin: 1rem 0;
  }

  &-image-wrapper{
    @include flex(row, center, center);
    padding: 1rem;
    gap: 1rem;
    .double-image{
      border-radius: $border-radius;
      max-width: 40%;
      min-width: 100px;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }

    .single-image{
      @extend .double-image;
      max-width: 100%;
    }
  }
}

//  ╭──────────────────────────────────────────────────────────╮
//  │ Display options                                          │
//  ╰──────────────────────────────────────────────────────────╯
.flex-center{
  @include flex(column, center, center);
  gap: 1rem;
  color: white;
}

.row{
  display: flex;
  flex-direction: row;
  text-align: center
}

.desktop-row{
  @media(min-width:980px){
    flex-direction: row;
  }
}

.space-evenly{
  @extend .flex-center;
  justify-content: space-evenly;
  align-items: space-evenly;
}

.space-between{
  @extend .flex-center;
  justify-content: space-between;
  align-items: space-between;
  padding: 0 1rem
}

.center{
  margin: 1rem auto;
}

//  ╭──────────────────────────────────────────────────────────╮
//  │ CursorAnimation                                          │
//  ╰──────────────────────────────────────────────────────────╯
.cursor-animation{
  background: linear-gradient(159deg,  $rich-black-fogra-29 0%, $blue-sapphire 100%);
  opacity: 20%;
  width: 20%;
  aspect-ratio: 1;
  position: absolute;
  border-radius: 50%;
  z-index: -2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(100px);
  @include keyframes(rotate){
    from{
     transform: rotate(0deg); 
    }
    to{
      transform: rotate(360deg);
    }
  }
  @include animate(rotate, 2s, linear, infinite);
}
